<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background: #121212;">
    <%= render 'navbar' %>
    <div>
      <br>
      <center><p class="gradient-text"><%= @category.name_rus %></p></center>
      <br>
      <div class="container">
        <div class="row">
          <% @category.products.each do |product| %>
            <div class="col-xs-12 col-lg-4">
              <center>
                <%= link_to product_path(product), class:'nav-link' do %>
                  <div class="card border border-warning-subtle" style="width: 18rem;">
                    <%= image_tag(product.images.first, class:"card-img-top", alt:"...") %>

                    <div class="card-body" style="background-image: linear-gradient(
                        45deg,
                        hsl(0deg 100% 20%) 0%,
                        hsl(9deg 93% 24%) 8%,
                        hsl(16deg 92% 28%) 17%,
                        hsl(22deg 95% 31%) 25%,
                        hsl(27deg 100% 33%) 33%,
                        hsl(30deg 100% 36%) 42%,
                        hsl(34deg 100% 39%) 50%,
                        hsl(37deg 100% 41%) 58%,
                        hsl(40deg 100% 44%) 67%,
                        hsl(44deg 100% 46%) 75%,
                        hsl(47deg 100% 47%) 83%,
                        hsl(51deg 100% 49%) 92%,
                        hsl(55deg 100% 50%) 100%"">
                      <h4><%= product.name_rus %></h4>

                    </div>
                  </div>
                <% end %>
                <br>
              </center>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </body>
</html>
