<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">



  </head>
  <body style="background: #121212;">
    <%= render 'layouts/navbar' %>
    <br>
    <center>
      <p class="gradient-text">
        <%= @product.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
        <%= @product.name_eng if params[:locale] == 'en' %>
        <%= @product.name_rus if params[:locale] == 'ru' %>
      </p>
    </center>






	<div class="flex" data-gallary>
    <div class="container">
      <div class="row">
        <div class="col-2 col-lg-1 col-md-2">
            <div class="container" style="height:533px;width:120px;overflow-y:scroll;">
              <div class="viewport">
                <div class="thumbs content-box">
                  <% @product.images.each do |image| %>
                  <%= image_tag(image, style:"width: 5rem;") %>

                  <br><br>
                  <% end %>
                </div>
              </div>
           </div>

        </div>
        <div class="col-10 col-lg-4 col-md-4">
          <div class="photo-box">
            <%= image_tag(@main_photo, style:"width: 35.7rem;") %>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-12">
          <div class="row">
            <div class="col-6 col-md-4 col-lg-6">
              <h3>
                <%= t('product.category')%>
                <%= link_to category_path(@category), style:"color: yellow;" do %>
                  <%= @category.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
                  <%= @category.name_eng if params[:locale] == 'en' %>
                  <%= @category.name_rus if params[:locale] == 'ru' %>
                <% end %>
              </h3>
            </div>
            <div class="col-6 col-md-4 col-lg-6">
              <h3>
                <%= t('product.country')%>
                <%= @country.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
                <%= @country.name_eng if params[:locale] == 'en' %>
                <%= @country.name_rus if params[:locale] == 'ru' %>
              </h3>
            </div>
            <div class="col-12 col-md-4 col-lg-6">
              <h3>
                <%= t('product.sizes')%>
                <%= @product.sizes %>
              </h3>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <h3>
                    <%= t('product.description')%>
                  </h3>
                </div>
                <div class="col-8">
                  <h5>
                    <%= @product.description_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
                    <%= @product.description_eng if params[:locale] == 'en' %>
                    <%= @product.description_rus if params[:locale] == 'ru' %>
                  </h5>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-12">
              <h3><%= t('product.buy') %></h3>
              <div class="row">
                <div class="col-3">
                  <% if @product.ozon != nil %>
                    <%= link_to "#{@product.ozon}" do %>
                      <img src="/images/png-klev-club-l6k6-p-ozon-ikonka-png-2.png" style="width: 80px;" alt="">
                    <% end %>
                  <% end %>
                </div>
                <div class="col-3">
                  <% if @product.ozon != nil %>
                    <%= link_to "#{@product.wb}" do %>
                      <img src="/images/gas-kvas-com-p-logotip-vaildberriz-na-prozrachnom-fone-28.png" style="width: 80px;" alt="">
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <div class="col-12">
              <h3>
                <%= t('product.reviews')%>
  
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

		<div>

			<div class="flex control-row">

			</div>
		</div>
	</div>





    <script src="/js/goodsgallery.function.js"></script>
    <script src="/js/scrollbox.function.js"></script>
  </body>
</html>
