
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 col-xs-12">
        <br>
        <%= link_to root_path, class:'navbar-brand' do %>
          <%= image_tag(@logo, alt:"Bootstrap", width: '150rem;')%>
          <!--<b style="font-family: bankgothic; font-weight: 900; font-size: 35px; width: 300px;">MB</b>-->
        <% end %>
      </div>
      <div class="col-lg-3 col-xs-12">

      </div>
      <div class="col-lg-8 col-xs-12">
        <nav class="navbar navbar-expand-lg">
<br><br><br><br><br><br>
          <div class="container-fluid">

              <%= link_to t('navbar.main'), root_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>
              <% if user_signed_in? and current_user.admin == true %>
                <%= link_to t('articles.all_article'), articles_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>
              <% elsif user_signed_in? %>
                <%= link_to t('articles.your_article'), articles_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>
              <% else %>
                <%= link_to t('articles.log_in'), articles_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>
              <% end %>


              <%= link_to t('navbar.about'), backends_path, class:"btn btn-outline-warning", style:"font-size: 18px;" %>





<% if params != true and params[:locale] != 'ru' and params[:locale] != 'en'%>
  <%= link_to url_for(locale: :en), :class => 'btn btn-outline-warning', style:"font-size: 18px;" do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
  </svg><%= locale.upcase %><% end %>
  <% elsif params[:locale] == 'ru' %>
    <%= link_to url_for(locale: :en), :class => 'btn btn-outline-warning', style:"font-size: 18px;" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
    </svg><%= locale.upcase %><% end %>
  <% elsif params[:locale] == 'en'%>
  <%= link_to url_for(locale: :ru), :class => 'btn btn-outline-warning', style:"font-size: 18px;" do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
  </svg><%= locale.upcase %><% end %>
<% end %>





          </div>
        </nav>
      </div>
    </div>

  </div>
</div>



<nav class="navbar navbar-expand-lg sticky-top" style="background-image: linear-gradient(
    45deg,
    hsl(0deg 100% 20%) 0%,
    hsl(9deg 93% 24%) 8%,
    hsl(16deg 92% 28%) 17%,
    hsl(22deg 95% 31%) 25%,
    hsl(27deg 100% 33%) 33%,
    hsl(30deg 100% 36%) 42%,
    hsl(34deg 100% 39%) 50%,
    hsl(37deg 100% 41%) 58%,
    hsl(40deg 100% 44%) 67%,
    hsl(44deg 100% 46%) 75%,
    hsl(47deg 100% 47%) 83%,
    hsl(51deg 100% 49%) 92%,
    hsl(55deg 100% 50%) 100%">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #DAA520;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </a>
          <ul class="dropdown-menu" style="width: 250px;margin-top: 5px;margin-left: -5px; background-image: linear-gradient(
              45deg,
              hsl(0deg 100% 20%) 0%,
              hsl(9deg 93% 24%) 8%,
              hsl(16deg 92% 28%) 17%,
              hsl(22deg 95% 31%) 25%,
              hsl(27deg 100% 33%) 33%,
              hsl(30deg 100% 36%) 42%,
              hsl(34deg 100% 39%) 50%,
              hsl(37deg 100% 41%) 58%,
              hsl(40deg 100% 44%) 67%,
              hsl(44deg 100% 46%) 75%,
              hsl(47deg 100% 47%) 83%,
              hsl(51deg 100% 49%) 92%,
              hsl(55deg 100% 50%) 100%">
              <% @top_categories.each do |category| %>
                <li class="nav-item">
                  <%= link_to category_path(category), class:"nav-link active", style:"font-size: 18px; color: black;" do %>
                    <%= category.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en' %>
                    <%= category.name_eng if params[:locale] == 'en' %>
                    <%= category.name_rus if params[:locale] == 'ru' %>
                  <% end %>
                </li>
              <% end %>
            <hr>
            <% @other_categories.each do |category| %>
              <li class="nav-item">
                <%= link_to category_path(category), class:"nav-link active", style:"font-size: 18px;  color: black;" do %>
                  <%= category.name_rus if params != true and params[:locale] != 'ru' and params[:locale] != 'en'%>
                  <%= category.name_eng if params[:locale] == 'en' %>
                  <%= category.name_rus if params[:locale] == 'ru' %>
                <% end %>
              </li>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to t('navbar.categories'), categories_path, class:'nav-link active', style:"font-size: 16px; color: black;" %></li>
            <li><%= link_to t('navbar.products'), products_path, class:'nav-link active', style:"font-size: 16px;" %></li>
          </ul>
        </li>

      </ul>
      <!--<form class="d-flex" role="search">-->

        <%= search_form_for @q, class:"d-flex", role:"search" do |f| %>
          <%= f.search_field :name_rus_or_name_eng_cont, class:"form-control me-2", type:"search", placeholder:"#{t('navbar.search')}", style:"width:275px;" %>

          <%= f.submit class:"btn btn-outline-success", type:"submit"%>|
          <% if current_user %>
            <%= button_to destroy_user_session_path, class:'btn btn-dark', method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
    </svg><%= " Выйти" %>
            <% end %>
            <% else %>
            <%= link_to new_user_session_path, class:'btn btn-success' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-up" viewBox="0 0 16 16">
             <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
             <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
           </svg><%= " Войти" %>
    <% end %>
          <% end %>

        <% end %>





      <!--</form>-->

    </div>
  </div>
</nav>
